* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: Poppins, sans-serif;
  position: relative;
}

#home {
  &.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
  }

  .container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;

    .content {
      align-items: center;
      display: flex;
      gap: 10rem;
      height: 65rem;
      justify-content: center;
      position: relative;

      .hero-main {
        align-items: center;
        display: flex;
        gap: 10rem;
        justify-content: center;
        position: relative;

        .hero-text {
          display: flex;
          flex-direction: column;
          max-width: 50rem;
          position: relative;

          h1 {
            color: #2d2e32;
            font-size: 5.5rem;
            line-height: 1.2;
            margin-bottom: 2rem;
            margin-top: 2rem;
          }

          img {
            height: 6rem;
            position: absolute;
            right: 13rem;
            top: 8.7rem;
            width: 6rem;
          }

          p {
            color: #000;
            font-family: Mulish, sans-serif;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.6;
          }

          span {
            cursor: pointer;
            display: flex;
            gap: 1.3rem;
            margin: 2.5rem 0;

            a {
              color: #2d2e32;
              font-size: 3rem;
              i {
                transition: all 0.2s;

                &:hover {
                  color: #147efb;
                }
              }
            }
          }
        }

        .hero-img {
          animation: morph 8s ease-in-out infinite;
          background-image: url(https://stefantopalovicdev.vercel.app/static/media/pfp_webp.f334283842f7b24cafd1.webp);
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          border: 3px solid #2d2e32;
          border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
          height: 35rem;
          position: relative;
          transition: all 1s ease-in-out;
          width: 35rem;
        }
      }
    }
  }
}

// --------Aniamtion : morph
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  to {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
